<%= render "info/menu" %>
<%= render "info/logo_container" %>

<div class="page_wrapper">
    <section class="container">

    <div id="blog" class="page for_registration">
    <div class="sub_heading_registration">
		<h2>Sign up</h2>
</div>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="registration_textfield"><%#= f.label :email %>
  <%= f.text_field :name, :autofocus => true, :placeholder => "name" %> </div> 

  <div class="registration_textfield"><%#= f.label :email %>
  <%= f.email_field :email, :autofocus => true, :placeholder => "email" %> </div> 

  <div class="registration_textfield"><%#= f.label :password %>
  <%=  f.password_field :password, :placeholder => "password" %> </div>


  <div class="registration_textfield"><%#= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :placeholder => "verify password" %></div>

  <div><%= f.submit "Sign up" %></div>

  <% end %>
  <%= render "devise/shared/links" %>



</div>
</section>
</div>


<%= render "info/footer" %>


