<%= form_for(@recap, :html => { :multipart => true }) do |f| %>
  <% if @recap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recap.errors.count, "error") %> prohibited this recap from being saved:</h2>

      <ul>
      <% @recap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <h4>enter the month below and then recap, ie: July Recap</h4>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <h4>Enter the body below</h4>
    <%= f.label :body %><br>
    <%#= text_area_tag :editor, "", :class => "tinymce", :rows => 40, :cols => 120 %>
    
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.file_field :photo %>
  </div>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.all, :id, :name, {include_blank: true} %>
  </div>

  <div class="actions">
    <%= f.submit class: "button green" %>
  </div>
<% end %>
