<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <h4>Enter the start date time below</h4>
    <%= f.datetime_select :start_datetime %>
  </div>

  <div class="field">
  <h4>Enter the end date time below</h4>
    <%= f.datetime_select :end_datetime %>
  </div>

  <div class="field">
  <h4>Enter the location below</h4>
    <%= f.text_field :venue %>
  </div>

  <div class="field">
  <h4>Enter the address below</h4>
    <%= f.text_field :address %>
  </div>

  <div class="field">
  <h4>Enter the cost below</h4>
    <%= f.text_field :cost %>
  </div>

  <div class="field">
   <h4>Enter the name of the event below</h4>
    <%= f.text_field :name %>
  </div>

  <div class="field">
   <h4>Enter the event details below</h4>
    <%#= tinymce %>
    <%= f.text_area :details %>
  </div>

  <div class="field">
   <h4>Enter the type of the event below (Group, Social Event, Baseball game, etc.</h4>
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit class: "button green" %>
  </div>


<% end %>



