
<%= render 'info/menu' %>
  
<%= render 'info/logo_container' %>

  
  <div class="page_wrapper">
    <section class="container">
      
      <!-- Start Event List -->

      <div id="events_list" class="page">
              <% if user_signed_in? %>
              <p><%= link_to 'New Event', new_event_path %></p>
               <% end %>
  
      <div class="sub_heading">
        <h1>Upcoming Events</h1>
        </div>


        <!-- Start Event Item -->
        <% @events.each do |event| %>

        <div class="list">
          <div class="box_heading">
            <h2> <%= event.start_datetime.strftime("%A, %B %e, %Y @ %l:%M%P") %></h2>
            <span class="line"></span>
          </div>

          <div class="event_details">
            <!-- <h5><%#= event.name %></h5> -->
                      <h3><%= link_to event.name, event %></h3><% if user_signed_in? %> <%= link_to 'Edit Event', edit_event_path(event) %> <%= link_to 'Delete Event', event, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %>

            <p><%= simple_format(event.details) %></p>
          </div>
          <div class="event_date">
            <ul class="left">
              <li>Start:</li>
              <li>End:</li>
              <li>Venue:</li>
              <li>Address:</li>
              <li>Cost:</li>
            </ul>
            <ul class="right">
              <li><%=event.start_datetime.strftime("%B %e, %Y %l:%M%P")%></li>
              <li><%=event.end_datetime.strftime("%B %e, %Y %l:%M%P")%></li>
              <li><%=event.venue%></li>
              <li><%=event.address%></li>
              <li><%=event.cost%></li>
            </ul>
          </div>
        </div>

        <% end %>
        <!-- End Event Item -->

        
       
          
      </div>
        
    </section>
  </div>
    
      <%= render 'info/footer' %>