<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Start datetime</th>
      <th>End datetime</th>
      <th>Venue</th>
      <th>Address</th>
      <th>Cost</th>
      <th>Name</th>
      <th>Details</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.start_datetime.strftime("%B %e, %Y") %></td>
        <td><%= event.end_datetime.strftime("%B %e, %Y") %></td>
        <td><%= event.venue %></td>
        <td><%= event.address %></td>
        <td><%= event.cost %></td>
        <td><%= event.name %></td>
        <td><%= event.details %></td>
        <td><%= event.type %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>


<%= render 'info/menu' %>
  
<%= render 'info/logo_container' %>

  
  <div class="page_wrapper">
    <section class="container">
      
      <!-- Start Event List -->
      <div id="events_list" class="page">
        
        <h1>Upcoming Events</h1>
        

        <!-- Start Event Item -->
        <% @events.each do |event| %>

        <div class="list">
          <div class="box_heading">
            <h2> <%= event.start_datetime.strftime("%B %e, %Y @ %l:%M%P") %></h2>
            <span class="line"></span>
          </div>

          <div class="event_details">
            <h5><%= link_to event.name %></h5>
            <p><%=event.details%></p>
          </div>
          <div class="event_date">
            <ul class="left">
              <li>Start:</li>
              <li>End:</li>
              <li>Venue:</li>
              <li>Address:</li>
              <li>Cost:</li>
            </ul>
            <ul class="right">
              <li><%=event.start_datetime.strftime("%B %e, %Y %I:%M%P")%></li>
              <li><%=event.end_datetime.strftime("%B %e, %Y %I:%M%P")%></li>
              <li><%=event.venue%></li>
              <li><%=event.address%></li>
              <li><%=event.cost%></li>
            </ul>
          </div>
        </div>

        <% end %>
        <!-- End Event Item -->

        
       
          
      </div>
        
    </section>
  </div>
    
      <%= render 'info/footer' %>