
<%= render "info/menu" %>

<%= render "info/logo_container" %>
      
      <!-- Start Social Icons -->
      
      <!-- End Social Icons -->
 
  
<div class="page_wrapper">
    <section class="container">
                              <!-- Start Event List -->
    <div id="events" class="page">
        <h1> <%= @event.name %></h1>  

        <% if is_admin? %>
        <%= link_to 'Edit Event', edit_event_path(@event) %> 
        <%= link_to 'Delete Event', @event, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %>
        <!-- Start Event Item -->
        <div class="event">
                  <div class="event_date">
                    <ul class="one">
                          <li>Event:</li>
                          <li>Start:</li>
                          <li>End:</li>
                          <li>Cost:</li>
                          <li>Date:</li>
                    </ul>
                     <ul class="two">
                          <li> <%= @event.name %></li>
                          <li><%=@event.start_datetime.strftime("%l:%M %P")%> </li>
                          <li><%=@event.end_datetime.strftime("%l:%M %P")%></li>
                          <li><%= @event.cost %></li>
                          <li><%= @event.start_datetime.strftime("%B %e, %Y")  %></li>
                     </ul>
                      <ul class="three">
                          <li>Place:</li>
                          <li>Address:</li>
                     </ul>
                      <ul class="four">
                          <li> <%= @event.venue %></li>
                          <li> <%= @event.address %></li>
                     </ul> 
                  </div>

                  <div class="managed_content">
                   <%= simple_format(@event.details) %>
                 </div>
                          <!-- End Event Item -->   
         </div>
     </div>
         <p class="back_to_recaps"> <%= link_to "back to events", events_path %></p>
  </section>
</div> 

 <%#= image_tag @event.photo, class: "rounded recap_photos" if @event.photo %>  

  <%= render "info/footer" %>

  

  




<!-- the above code will not be here when site is up -->


