<footer>
		<div class="container">
			<div class="widget one_fourth">
				<h2 class="logo">We Stutter</h2>
				<p>That's right , we stutter. There's really not much else to write in this section. We stutter and we like other people who stutter. That's pretty much it!</p>
			</div>
			<div class="widget one_fourth">
				<h5>NSA Twitter</h5>
				
				<div class="twitter_stream"></div>
				
			</div>
			<div class="widget one_fourth">
				<h5>Newsletter</h5>
													
					<p>Signup to receive our monthly recaps.</p>

				<%= form_for :user, :url => users_path(@user), :html => {:method => :post} do |f| %>
				<% @user = User.new %>
				<% if @user.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

				      <ul>
				      <% @user.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
					<p>
						<%= f.text_field :name, placeholder: 'Name *' %>
					</p>
					<p>
						<%= f.email_field :email, placeholder: 'Email *' %>
					</p>
					
					<%= f.submit 'Signup', class: "button white" %>
				<% end %>
			</div>
			<div class="widget one_fourth column_last">
				<h5>Location</h5>
				<div class="location_widget">
					<p>
						119 W. 40th Street <br/>
						14th Floor <br/>
						New York, NY 10018
					</p>
					<p>
						<span class="icon general">r</span> 123.333.4524 <br/>
						<span class="icon general">h</span> <a href="">info@revolution.com</a> <br/>
						<span class="icon general">l</span> <a href="">www.revolution.com</a>
					</p>
				</div>
			</div>
			<div class="copy">
				<p>Copyright &copy;2012 Advocate. All Rights Reserved.</p>
			</div>
		</div>
	</footer>