<header>
		<div class="container">		
			<!-- Start Navigation -->
			<nav>
				<ul>
					<li><%= link_to "home", root_path %></li>
					<li><%= link_to "about", about_path %></li>
					<li><%= link_to "recaps", recaps_path %></li>
					<li><%= link_to "events", events_path %></li>



					<!-- <li><a href="events_list.html">events</a></li> -->
					<!-- <li><%#= link_to "gallery", gallery_2_columns_sidebar_path %> -->

						<!-- <a href="#">gallery</a> -->
					<!-- 	<ul>
							<li><a href="gallery_2_columns.html">Gallery 2 Columns</a></li>
							<li><a href="gallery_3_columns.html">Gallery 3 Columns</a></li>
							<li><a href="gallery_4_columns.html">Gallery 4 Columns</a></li>
							<li>
								<a href="#">Gallery With Sidebar &rarr;</a>
								<ul>
									<li><a href="gallery_2_columns_sidebar.html">2 Columns With Sidebar</a></li>
									<li><a href="gallery_3_columns_sidebar.html">3 Columns With Sidebar</a></li>
									<li><a href="gallery_4_columns_sidebar.html">4 Columns With Sidebar</a></li>
								</ul>
							</li>
						</ul>
					</li> -->

					<!-- <li><%#= link_to "donate", donate_path %></li> -->

					<li><%= link_to "contact", contact_path %></li>

					<% if user_signed_in? %>
					<li><%= link_to "log out", destroy_user_session_path, method: :delete %></li>
					<% end %> 

					<!-- took out the sign-in form	 -->
					<%# if current_page?(root_url) %>
						<!-- <li><a href="https://docs.google.com/forms/d/1FCpV6BH7vHvgsAG9jWVYxPrd7ZGZRqnB3gb5iQguIgk/viewform" class="button pink">Meeting Sign-In Form</a><li> -->
					<%# end %>


				</ul>
			</nav>
			<!-- End Navigation -->
			
			<!-- Start Social Icons -->
			<aside>
				<ul class="social icon">
					<li><a href="https://twitter.com/westutter" class="twitter-follow-button" title="Twitter">a</a></li>
					<li><a href="https://www.facebook.com/NSAMidtownManhattanChapter" title="Facebook">v</a></li>
					
					<!-- <li> <a href="JavaScript:newPopup('http://www.quackit.com/html/html_help.cfm');">Open a popup window</a></li> -->

	
					

					<!-- i want twitter to open up a new window, like the line below does -->

				

					<!-- <li><a href="" title="Flickr">d</a></li> -->
					<!-- <li><a href="" title="Vimeo">c</a></li> -->
					<!-- <li><a href="" title="Google">t</a></li> -->
					<!-- <li><a href="" title="RSS">b</a></li> -->
					<!-- More Social Icons:
					<li><a href="" title="Picasa">e</a></li>
					<li><a href="" title="dribbble">f</a></li>
					<li><a href="" title="Forrst">g</a></li>
					<li><a href="" title="deviantART">h</a></li>
					<li><a href="" title="WordPress">i</a></li>
					<li><a href="" title="Blogger">j</a></li>
					<li><a href="" title="Yahoo!">k</a></li>
					<li><a href="" title="Amazon">l</a></li>
					<li><a href="" title="LinkedIn">m</a></li>
					<li><a href="" title="Last.fm">n</a></li>
					<li><a href="" title="StumbleUpon">o</a></li>
					<li><a href="" class="Pinterest">p</a></li>
					<li><a href="" title="Xing">q</a></li>
					<li><a href="" title="SoundCloud">r</a></li>
					<li><a href="" title="Delicious">s</a></li>
					<li><a href="" title="Mail">u</a></li>
					<li><a href="" title="Google">w</a></li>
					-->
				</ul>
			</aside>
			<!-- End Social Icons -->
		</div>		
	</header>