<%= render 'menu' %>

<%= render 'logo_container' %>
	
	<div class="page_wrapper">
		<section class="container">
			
			<!-- Start Page Content -->
			<div id="about" class="page">
				


				<h1>Our Mission</h1>
				
				<div class="full">
					<p class="larger">
						<!-- <b>Welcome to the NSA Manhattan Chapter site </b>  -->
					<p>There are 1.6 million people in Manhattan; so statistically speaking that’s enough people who stutter to pretty much fill up Madison Square Garden. But unfortunately, not everyone out there knows about the NSA and the great stuttering community we are building here. You’re one of the lucky ones for finding out about this great organization. And thanks to some recent media coverage, public perception seems to be slowly changing for the better with how stuttering is being viewed. If you’re thinking about attending a meeting, come join us so we can empower each other and have our voices be heard in more ways than one. Everyone is welcome regardless of what borough or city you live in. We hope to see you soon. </p>
			
				</div>
				
				<div id="programs">
					<div class="box_heading">
						<h2>the Chapter Leaders</h2>
						<span class="line"></span>
					</div>
					
					<article class="larger">
						<%= image_tag "nsa_stavro flower.png", class: "leaders_photos" %>
						<p class="info_bio"> <span class="info_name">Stavros Ladeas</span> I’m first-generation American from Greek parents and grew up in the nearby Poconos. I received my bachelor’s in psychology from Tulane University and put it to good use by coming back to managing my family’s restaurant for seven years and also getting involved in a couple other real estate ventures during this time. In the summer of 2011 I moved to Brooklyn where I dabbled in a few interests of mine - sustainable building and iPhone app development. More notably I spent some of this time travelling abroad with my brother and <i>investing in myself</i>. I started attending the NSA Brooklyn chapter meetings, and to put it simply, the strength I have received from this community has blown me away. I have gone from covert stutterer to stuttering openly, and during these last few months I have stuttered my face off with family and friends who have known me as a fluent speaker for all of my life. If you’re not sure, this is a good thing for me. I have now stepped up as a co-leader of this NSA Midtown chapter to continue my journey and hopefully help others with theirs. As for my career, I have self-admittedly spun my wheels quite a bit recently, but what better place to get started than in NYC.  </p>
					</article>

					<article class="larger">
						<%= image_tag  "nsa_michael_taub.png", class: "leaders_photos" %>
						<p class="info_bio"><span class="info_name">Michael Taub</span> I’m a former ESL teacher, I love living in the city, I’m learning (slowly) to play guitar, and I’m a person who stutters!  Growing up, I went to a handful of different speech therapists, but nothing clicked until I did a three-week-long intensive program at the American Institute for Stuttering (AIS) in 2002.  Instead of only focusing on how not to stutter, we spent a bunch of time learning to accept stuttering.  I began advertising my stutter (telling other people that I stutter) and just being more open about my stuttering in general.  This has been the most effective, and still is the most challenging change that I’m continuing to make.  
						I want to keep on meeting others who stutter and talking openly about stuttering with new people, which is why I’m psyched about starting this group with Marc and Stavro.  Since each of us coming to this group is unique, we’ll probably all approach stuttering differently and have our own personal goals, which is great.  I’m hoping that at this chapter we can find a friendly, safe place to relax, talk about whatever, and be comfortable with ourselves.   </p>
					</article>

					<article class="larger">
						<%= image_tag "nsa_marc_winski.png", class: "leaders_photos" %>
						<p class="info_bio"><span class="info_name">Marc Winski</span> Originally from Indiana, Marc has been living in New York City for a few years.  Being a person who stutters from a very young age, he was introduced to the National Stuttering Association after he attended the American Institute for Stuttering in 2010. He was welcomed with open arms and has not looked back since.  He has been to a few NSA conferences and loves to travel to wonderful destinations to spend time with some of the amazing friends that he has met through the NSA community After graduating from Indiana University with a degree in theatre, Marc traveled the country for 2 years with such Broadway shows as Grease and Hairspray before making NYC his permanent residence.  While on tour, he was able to educate others all around the country (and Canada) about stuttering. Between productions on stage, Marc is a tennis instructor in Manhattan and gets the opportunity to work with some amazing children. As an avid sports enthusiast, he loves to play tennis, softball, basketball, football, and basically anything that constitutes as a sport.  He is excited to be a co-leader of this new chapter and thrilled to share in the experiences of the stuttering community with others.</p>
					</article>

					<article class="larger">
						<%= image_tag  "nsa_carl herder.jpg", class: "leaders_photos" %>
						<p class="info_bio"><span class="info_name">Carl Herder</span> Carl Herder lives in Brooklyn and works as a speech-language pathologist in Manhattan. He attended his first NSA conference in Parsippany, NJ in 2008. At the 2013 conference in Scottsdale, AZ, he presented a workshop titled “I came for fluency and all I got was this t-shirt.” 
						Carl has worked for the American Institute for Stuttering since 2006. He had the opportunity to work alongside the founder of AIS, Catherine Montgomery, for four years. In 2009, he was interviewed by CBS National Correspondent Byron Pitts for a CBS Evening News Piece on Stuttering. In 2007, he appeared on the MTV documentary MTV Truelife: I Stutter; he provided intensive therapy to one of the young people who was being profiled on the show.
						Carl has taught courses in fluency disorders and phonetic science at George Washington University and the University of Maryland. He has presented at numerous national and international conferences, and has published peer-reviewed articles in the Journal of Fluency Disorders, the Journal of Speech, Language, and Hearing Research and Contemporary Issues in Communication Sciences and Disorders. </p>
					</article>
				</div>				

			</div>
			

			<%#= render "side_bar" %>
		
			
			
		</section>
	</div>
	
	<%= render "footer" %>