<%= render "menu" %>

<%= render 'logo_container' %>

	
	<div class="page_wrapper">
		<section class="container">
			
			<!-- Start Page Content -->
			<div id="contact" class="page">
				
				<!-- <h1>Contact</h1> -->
				
<!-- <div class="sub_heading"> -->

				<div class="full">
					<div class="sub_heading">
						<h2>Interested in attending a meeting?</h2>
						<span class="line"></span>
					</div>
					<p>If you are interested in attending a meeting, or if you have any specific questions and would like to write us an email, please do so. And if you are thinking about attending but are just not sure, then you should defintely come! You will thank yourself later.</p>
					
<!-- 					<div class="validation">
						<p>Oops! Please correct the highlighted fields...</p>
					</div>

					<div class="success">
						<p>Thanks! I'll get back to you shortly.</p>
					</div>
					
					<form action="javascript:;" method="post" id="contact_form">
						<div class="row">
							<p>
								<label for="name">Name</label>
								<input type="text" name="name" id="name" />
							</p>
							<p>
								<label for="phone">Phone</label>
								<input type="text" name="phone" id="phone" />
							</p>
						</div>
					
						<div class="row">
							<p>
								<label for="email">Email</label>
								<input type="text" name="email" id="email" />
							</p>
							<select name="subject">
							  <option value="select">Subject</option>
							  <option value="saab">Volunteer</option>
							  <option value="mercedes">Donation</option>
							  <option value="audi">Programs</option>
							</select>
						</div>
						<p>
							<label for="message">Message</label>
							<textarea name="message" id="message"></textarea>
						</p>
						<input type="submit" class="button white" value="Send Email &rarr;" />
					</form>
				</div> -->
			
				<!-- Start Location -->
				<div id="location">
					<div class="sub_heading">
						<h2>Our location</h2>
						<span class="line"></span>
					</div>

					<p>Our meetings are held at the NSA National Office, 119 W. 40th Street, 14th Floor, New York, NY 10018. You check in at the front desk and then come up to the 14th floor – Tzell Travel offices. The building is just West of Bryant Park, between Broadway and 6th Ave. You have several options of getting here. You can take the 
					<%= image_tag "NYCS-bull-trans-1.svg", class: "nyc_subway_image" %> 
					<%= image_tag "NYCS-bull-trans-2.svg", class: "nyc_subway_image" %> 
					<%= image_tag "NYCS-bull-trans-3.svg", class: "nyc_subway_image" %> 
					<%= image_tag "NYCS-bull-trans-A.svg", class: "nyc_subway_image" %> 
					<%= image_tag "NYCS-bull-trans-C.svg", class: "nyc_subway_image" %> 
					<%= image_tag "NYCS-bull-trans-E.svg", class: "nyc_subway_image" %> 
					<%= image_tag "NYCS-bull-trans-N.svg", class: "nyc_subway_image" %> 
					<%= image_tag "NYCS-bull-trans-Q.svg", class: "nyc_subway_image" %> 
					<%= image_tag "NYCS-bull-trans-R.svg", class: "nyc_subway_image" %> to Times Square; or 
					<%= image_tag "NYCS-bull-trans-B.svg", class: "nyc_subway_image" %> 
					<%= image_tag "NYCS-bull-trans-D.svg", class: "nyc_subway_image" %> 
					<%= image_tag "NYCS-bull-trans-F.svg", class: "nyc_subway_image" %> 
					<%= image_tag "NYCS-bull-trans-M.svg", class: "nyc_subway_image" %> to Bryant Park; or 
					<%= image_tag "NYCS-bull-trans-4.svg", class: "nyc_subway_image" %> 
					<%= image_tag "NYCS-bull-trans-5.svg", class: "nyc_subway_image" %> 
					<%= image_tag "NYCS-bull-trans-6.svg", class: "nyc_subway_image" %> to Grand Central and then the 
					<%= image_tag "NYCS-bull-trans-7.svg", class: "nyc_subway_image" %> to Bryant Park. <em>Phew!</em>
					</p>
					<div class="map">
						<!-- <iframe width="438" height="194" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Miami,+FL&amp;aq=0&amp;oq=Miami,+FL&amp;sll=26.464748,-80.109357&amp;sspn=0.110337,0.20359&amp;ie=UTF8&amp;hq=&amp;hnear=Miami,+Miami-Dade,+Florida&amp;t=m&amp;ll=25.789072,-80.226288&amp;spn=0.059971,0.150032&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe> -->

						

						 <iframe width="750" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=tzell%2Btravel(NSA+Chapter)&ie=UTF8&z=14&t=m&iwloc=near&output=embed"></iframe> 


						 <!-- <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zF232dbmSwKo.kdGnHWA7h-kw" width="640" height="480"></iframe> -->

						 <!-- eventually, I will have to use the google_maps partial from below -->
						 <%#= render "google_maps" %>



					</div>
					<div class="one_fourth column_last">
						<h4>Address</h4>
						<p>
							119 W. 40th Street <br/>
							14th Floor <br/>
							New York, NY 10018
						</p>
						<p>
							<!-- <span class="icon general">r</span> 123.333.4524 <br/> -->
							<span class="icon general">h</span> <a href="mailto:nsamidtown@gmail.com">nsamidtown@gmail.com</a> <br/>
							<span class="icon general">l</span> <a href>www.nycstutters.com</a>
						</p>


					</div>
					
				</div>
				<!-- End Location -->

			</div>
			<!-- End Page Content -->
			
			<%#= render 'side_bar' %>
			
		</section>
	</div>
	<!-- Page Wrapper -->
	
<%= render "footer" %>
