<%= render 'menu' %>
	
	<section class="page_heading home">
		<div class="logo container">
			<a href="">NSA Midtown Manhattan Chapter</a>			
			<span class="tagline">if you stutter, you are not alone</span>
		</div>
	</section>

	<!-- Start Home -->
	<div id="home" class="page_wrapper">
		
		<!-- Start Container -->
		<section class="container">
		
			<!-- Start Page -->
			<div class="page">
				
				<!-- Start Slider -->
				<div class="flexslider-container">
					<div id="slider" class="flexslider">
						<ul class="slides">
							<li>
						      	<%= image_tag "nsa_holiday_group.png", class: "slider_photos" %>
								<p class="flex-caption">
									<b>Joint NSA Chapter Holiday Party</b> - Good times at Draught 55, our very first Joint NSA New York City Chapter Holiday party. December 13th, 2013.
								</p>
						    </li>
						   
							<li>
								<%= image_tag "nsa_isad_park.png" %>
						      	<!-- <img src="images/content/slide-3.jpg" alt="" /> -->
								<p class="flex-caption">
									<b>Spreading Awareness at Central Park</b> - Here are some awesome NSA'ers from Chapters throughout the NYC community spreading awareness for International Stuttering Awareness Month, October.
								</p>
						    </li>
						    <li>
						      	<!-- <img src="images/content/slide-4.jpg" alt="" /> --> <!-- this is the html for referencing image -->
						      	<%= image_tag "nsa_second_meeting.png" %>
								<p class="flex-caption">
									<b>Our Second Meeting</b> - We really look forward to having many more of these support groups and building a strong community of people who stutter in the NYC area.  
								</p>
						    </li>

						     <li>
						    	<%= image_tag "nsa_night.JPG" %>
						      	<!-- <img src="images/content/barPic.jpg" alt="" /> -->
								<p class="flex-caption">
									<b>2013 NSA Conference</b> - NSA'ers from all over the country enjoying the fireworks on a perfect July 4th evening. Westin Kierland Resort, Scottsdale, Arizona.
								</p>								
						    </li>
						  </ul>
					</div>
				</div>
				<!-- End Slider -->
				
				<div class="sub_heading">
					<h2>Join Our Group</h2>
					<span class="line"></span>
				</div>
				<div id="revolution_wrap" class="full">
						<h3>Welcome to the Midtown Manhattan's NSA Chapter</h3>

						<p>We're a support group for people who stutter.  Once a month we come together, hang out, relax and talk about all things stuttering-related. As a chapter of the NSA, our thinking is that one of the best ways to help ourselves is by getting support from one another. This is a very special place for anyone who stutters, regardless of where you are on your journey, to come be part of a very safe and non-judgmental environment. We hope you join us. <p>

						<!-- <p>Advocate is built with an impressive set of custom options that lets you change font styles, create <span class="color">unlimited colors</span> and is  almost entirely image free! We use font-based icons and CSS3 buttons to make your site retina sharp and fast loading.</p> -->
						
					
					
			
				</div>
				
				
				<!-- Start Help -->
				<!-- <div id="help" class="framed_box">
					<span class="icon general">l</span>
					<div class="text">
						<h3>Donate what you can to help</h3>
						<span class="color">Your tax-free donation helps us do stuff for people, animals and communities in need.</span>
					</div>
					<a href="#" class="donate_button">Donate Now!</a>
				</div> -->
				<!-- End Help -->		
				
				<!-- Start Items -->		
				<div id="items">
				
					<!-- Start News -->
					<div class="news two_thirds">
						<div class="box_heading">
							<h2>Monthly Recaps</h2>
							<span class="line"></span>
						</div>
						<ul>
						<% Recap.all.limit(3).each do |recap| %>
							<li>

								<h5><a href="blog_single.html"> <%= link_to recap.title, recap %> </a></h5> 
 					<div class="post">
								<div class="meta">
            <!-- <span class="date"> <span class="icon general">i</span><%= recap.created_at.strftime("%B %e, %Y") %></span> -->
            <!-- <span class="comments"><span class="icon social_misc">w</span> <a href="" title="">2 Comments</a></span>   -->
            <!-- <span class="author"> <span class="icon social_misc">x</span> <%#= User.find(recap.user_id).name %></span> -->
          </div>
          </div>
<!-- 								<p> <%= truncate(recap.body, length: 500, separator: ' ') { link_to '(read more)', recap} %> </p>
 -->				<p> <%= raw truncate(recap.body, length: 500, separator: ' ') { link_to 'read more', recap} %> </p> 
 					<%#= simple_format truncate((h(recap.body) + link_to("read more", recap_path(recap))), length: 500, separator: ' ') %>


							</li>

							<% end %>
						</ul>						
					</div>
					<!-- End News -->
					
					<!-- Start Events -->
					<div class="events one_third">
						<div class="box_heading">
							<h2>Upcoming Events</h2>
							<span class="line"></span>
						</div>
						<ul>	
						<% Event.where(:start_datetime < :end_datetime).limit(5).each do |event| %>

							<li>
								<div class="date"><span><%=event.start_datetime.strftime("%e") %></span><br/> <%=event.start_datetime.strftime("%b") %></div>
								<div class="details">
									<h5><a href="event_description.html"><%= link_to event.name, event %></a></h5>
									<p><%=event.start_datetime.strftime("%l:%M %P")%> @ <%=event.venue %></p>
									<!-- <p>7:30pm @ NSA Manhattan Office</p> -->
								</div>
							</li>

							<% end %>

							
						</ul>
					</div>


					<!-- End Events -->
					
					
					
				</div>
				<!-- End Items -->
								
			</div>
			<!-- End Page -->
			
		</section>
		<!-- End Container -->
		
	</div>
	<!-- End Home -->
	
		<%= render "footer" %>
		