<%= render 'menu' %>
	
	<section class="page_heading home">
		<div class="logo container">
			<a href="">NSA Midtown Manhattan Chapter</a>			
			<span class="tagline">if you stutter, you are not alone</span>
		</div>
	</section>
	
	<!-- Start Home -->
	<div id="home" class="page_wrapper">
		
		<!-- Start Container -->
		<section class="container">
		
			<!-- Start Page -->
			<div class="page">
				
				<!-- Start Slider -->
				<div class="flexslider-container">
					<div id="slider" class="flexslider">
						<ul class="slides">
							<li>
						      	<%= image_tag "content/nsa_women.JPG" %>
								<p class="flex-caption">
									<b>This Panda does not stutter!</b> -It went to the conference this year in Scottsdale and went back to the Zoo afterwards and gave birth to 3 little cubs!
								</p>
						    </li>
						    <li>
						    	<%= image_tag "content/nsa_night.JPG" %>
						      	<!-- <img src="images/content/barPic.jpg" alt="" /> -->
								<p class="flex-caption">
									<b>Protect Our Coral Reefs</b> - This slider is also responsive,  so your visitors see your site exactly as intended, no matter what device they're using.
								</p>								
						    </li>
							<li>
								<%= image_tag "content/nsa_bar.png" %>
						      	<!-- <img src="images/content/slide-3.jpg" alt="" /> -->
								<p class="flex-caption">
									<b>Plant a Tree</b> - Advocate theme features unlimited color options and Google fonts making it easy to customize to your unique purpose.
								</p>
						    </li>
						    <li>
						      	<!-- <img src="images/content/slide-4.jpg" alt="" /> --> <!-- this is the html for referencing image -->
						      	<%= image_tag "content/nsa_banquet.JPG" %>
								<p class="flex-caption">
									<b>Save the Rainforest</b> - Bring awareness to your cause with style and function. 
								</p>
						    </li>
						  </ul>
					</div>
				</div>
				<!-- End Slider -->
				
				<div class="sub_heading">
					<h2>Join Our Group</h2>
					<span class="line"></span>
				</div>
				<div id="revolution_wrap" class="full">
					<div id="description" class="one_third">
						<h3>Welcome to the Midtown Manhattan's NSA Chapter</h3>

						<p>We're a support group for people who stutter.  Once a month we come together, hang out, relax and talk about all things stuttering-related. As a chapter of the NSA, our thinking is that one of the best ways to help ourselves is by getting support, advice and encouragement from other people who stutter.<p>

						<!-- <p>Advocate is built with an impressive set of custom options that lets you change font styles, create <span class="color">unlimited colors</span> and is  almost entirely image free! We use font-based icons and CSS3 buttons to make your site retina sharp and fast loading.</p> -->
						
					</div>
					
					<!-- Start Actions -->
					<div id="actions">
						<div class="box one_half">
							<div class="inner">
								<div class="box_heading">
									<span class="icon general-enclosed">2</span>
									<h4>Come to a Meeting</h4>
								</div>
								<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere.</p>
							</div>
						</div>
						<div class="box one_half column_last">
							<div class="inner">
								<div class="box_heading">
									<span class="icon general-enclosed">o</span>
									<h4>Support Community</h4>
								</div>
								<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere.</p>
							</div>
						</div>
						<div class="box one_half">
							<div class="inner">
								<div class="box_heading">
									<span class="icon general-enclosed">~</span>
									<h4>Develop Strength</h4>
								</div>
								<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere.</p>
							</div>
						</div>
						<div class="box one_half column_last">
							<div class="inner">
								<div class="box_heading">
									<span class="icon general-enclosed">l</span>
									<h4>Conquer the World</h4>
								</div>
								<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere.</p>
							</div>
						</div>
					</div>
					<!-- End Actions -->		
				</div>
				
				
				<!-- Start Help -->
				<!-- <div id="help" class="framed_box">
					<span class="icon general">l</span>
					<div class="text">
						<h3>Donate what you can to help</h3>
						<span class="color">Your tax-free donation helps us do stuff for people, animals and communities in need.</span>
					</div>
					<a href="#" class="donate_button">Donate Now!</a>
				</div> -->
				<!-- End Help -->		
				
				<!-- Start Items -->		
				<div id="items">
				
					<!-- Start News -->
					<div class="news one_third">
						<div class="box_heading">
							<h2>Recaps</h2>
							<span class="line"></span>
						</div>
						<ul>
							<li>
								<h5><a href="blog_single.html">Save The Whales</a></h5>
								<p>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl.</p>
							</li>
							<li>
								<h5><a href="blog_single.html">Vote Superman for President</a></h5>
								<p>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl.</p>
							</li>
							<li>
								<h5><a href="blog_single.html">Protect Our Coral Reefs</a></h5>
								<p>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl.</p>
							</li>
							
						</ul>						
					</div>
					<!-- End News -->
					
					<!-- Start Events -->
					<div class="events one_third">
						<div class="box_heading">
							<h2>Events</h2>
							<span class="line"></span>
						</div>
						<ul>	
							<li>
								<div class="date"><span>23</span> May</div>
								<div class="details">
									<h5><a href="event_description.html">Our First Meeting</a></h5>
									<p>7:30pm @ NSA Manhattan Office</p>
								</div>
							</li>
							<li>
								<div class="date"><span>22</span> May</div>
								<div class="details">
									<h5><a href="event_description.html">Green Energy Conference</a></h5>
									<p>2pm @ Menlo Park</p>
								</div>
							</li>
							<li>
								<div class="date"><span>21</span> May</div>
								<div class="details">
									<h5><a href="event_description.html">Organic Pot Luck Night!</a></h5>
									<p>6pm @ Santa clara University</p>
								</div>
							</li>
							<li>
								<div class="date"><span>18</span> May</div>
								<div class="details">
									<h5><a href="event_description.html">Beach Clean Up</a></h5>
									<p>10am @ Venice Beach</p>
								</div>
							</li>
						</ul>
					</div>
					<!-- End Events -->
					
					<!-- Start Sponsors -->
					<div id="sponsors" class="one_third column_last">
						<div class="box_heading">
							<h2>Our Sponsors</h2>
							<span class="line"></span>
						</div>
						<ul>
							<li><img src="images/content/sponsor-1.png" alt="Sponsor 1" /></li>
							<li class="last"><img src="images/content/sponsor-2.png" alt="Sponsor 2" /></li>
							<li><img src="images/content/sponsor-3.png" alt="Sponsor 3" /></li>
							<li class="last"><img src="images/content/sponsor-4.png" alt="Sponsor 4" /></li>
							<li><img src="images/content/sponsor-5.png" alt="Sponsor 5" /></li>
							<li class="last"><img src="images/content/sponsor-6.png" alt="Sponsor 6" /></li>
							<li class="bottom"><img src="images/content/sponsor-9.png" alt="Sponsor 9" /></li>
							<li class="bottom last"><img src="images/content/sponsor-7.png" alt="Sponsor 7" /></li>
						</ul>
					</div>
					<!-- End Sponsors -->
					
				</div>
				<!-- End Items -->
								
			</div>
			<!-- End Page -->
			
		</section>
		<!-- End Container -->
		
	</div>
	<!-- End Home -->
	
		<%= render "footer" %>
		