<!DOCTYPE html>
<html>
<head>
  <title>WeStutterNYC</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico|Cabin:400,700,600,500">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<span id="notice"><%= notice %></span>

<%= yield %>

</body>
</html>
